<ion-view title="GT-To">
	<ion-header-bar class="bar-positive" align-title="center">
		<button class="button button-icon icon ion-android-arrow-back" ng-click="gotoTransferFrom()"></button>
		<div class="h1 title">Goods Transfer To</div>
        <button class="button button-icon icon ion-android-open" ng-click="openModal()"></button>
	</ion-header-bar>
    <ion-content>
        <div class="list card">
            <div class="item">
                <div class="list">
                    <div class="row">
                        <div class="col col-80" style="padding:0px;">
                            <label class="item item-input">
                                <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Store No&nbsp;&nbsp;:</span>
                                <input type="text" id="txt-storeno-to" ng-model="Detail.Scan.StoreNo" style="padding-right: 14px;">
                            </label>
                        </div>
                        <div class="col col-10">
                            <button class="button button-clear button-small" ng-click="openCam('StoreNo')"><i class="icon ion-qr-scanner"></i></button>
                        </div>
                        <div class="col">
                            <button class="button button-clear button-small" ng-click="clearInput('StoreNo')"><i class="icon ion-android-close"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-80" style="padding:0px;">
                            <label class="item item-input">
                                <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Internal Barcode&nbsp;&nbsp;:</span>
                                <input type="text" id="txt-barcode-to" ng-model="Detail.Scan.BarCode" style="padding-right: 14px;">
                            </label>
                        </div>
                        <div class="col col-10">
                            <button class="button button-clear button-small" ng-click="openCam('BarCode')"><i class="icon ion-qr-scanner"></i></button>
                        </div>
                        <div class="col">
                            <button class="button button-clear button-small" ng-click="clearInput('BarCode')"><i class="icon ion-android-close"></i></button>
                        </div>
                    </div>
                    <label class="item item-input">
                        <span class="input-label" style="padding-top:2px; padding-bottom: 2px; font-size: small;">Product Code : <span ng-bind="Detail.Imgr2.ProductCode"></span></span>
                    </label>
                    <label class="item item-input">
                        <span class="input-label" style="padding-top:2px; padding-bottom: 2px; font-size: small;">Description : <span ng-bind="Detail.Imgr2.ProductDescription"></span></span>
                    </label>
                    <div class="row">
                        <div class="col col-80" style="padding:0px;">
                            <label class="item item-input">
                                <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Serial No&nbsp;&nbsp;:</span>
                                <input type="text" id="txt-sn-to" ng-model="Detail.Scan.SerialNo" style="padding-right: 14px;" readonly>
                            </label>
                        </div>
                        <div class="col col-10">
                            <button class="button button-clear button-small" ng-click="openCam('SerialNo')"><i class="icon ion-qr-scanner"></i></button>
                        </div>
                        <div class="col">
                            <button class="button button-clear button-small" ng-click="clearInput('SerialNo')"><i class="icon ion-android-close"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-90" style="padding:0px;">
                            <label class="item item-input">
                                <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Qty&nbsp;&nbsp;:</span>
                                <span id="txt-qty" ng-bind="Detail.Scan.Qty"></span>
                            </label>
                        </div>
                        <div class="col">
                            <button class="button button-clear button-small" ng-click="changeQty()"><i class="icon ion-android-create"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive hide-on-keyboard-open">
        <div class="button-bar">
            <button class="button icon ion-android-done" ng-click="checkConfirm()">
                &nbsp;Confirm
            </button>
            <button class="button icon ion-arrow-return-right" ng-click="gotoTransferFrom()">
                &nbsp;Cancel
            </button>
        </div>
    </ion-footer-bar>
    <script id="scan.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar-positive" align-title="center">
                <div class="h1 title">Transfer To Detail</div>
            </ion-header-bar>
            <ion-content>
                <ion-list>
                    <ion-item ng-repeat="Imgr2 in Detail.Imgr2sDb">
                        <div class="row">
                            <div class="col col-50">
                                <p style="font-size:0.8em;">Old Store No&nbsp;&nbsp;:&nbsp;&nbsp;</p>
                            </div>
                            <div class="col">
                                <span ng-bind="Imgr2.StoreNoFrom" style="font-size:1.2em;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50">
                                <p style="font-size:0.8em;">New Store No&nbsp;&nbsp;:&nbsp;&nbsp;</p>
                            </div>
                            <div class="col">
                                <span ng-bind="Imgr2.StoreNoTo" style="font-size:1.2em;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50">
                                <p style="font-size:0.8em;">Internal BarCode&nbsp;&nbsp;:&nbsp;&nbsp;</p>
                            </div>
                            <div class="col">
                                <span ng-bind="Imgr2.BarCode" style="font-size:1.2em;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50">
                                <p style="font-size:0.8em;">Product Code&nbsp;&nbsp;:&nbsp;&nbsp;</p>
                            </div>
                            <div class="col">
                                <span ng-bind="Imgr2.ProductCode" style="font-size:1.2em;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50">
                                <p style="font-size:0.8em;">Actual Qty&nbsp;&nbsp;:&nbsp;&nbsp;</p>
                            </div>
                            <div class="col">
                                <span ng-bind="Imgr2.ScanQtyFrom" style="font-size:1.2em; color:red;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50">
                                <p style="font-size:0.8em;">Scan Qty&nbsp;&nbsp;:&nbsp;&nbsp;</p>
                            </div>
                            <div class="col">
                                <span ng-bind="Imgr2.ScanQtyTo" style="font-size:1.2em; color:red;"></span>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-content>
            <ion-footer-bar class="bar-positive">
                <div class="button-bar">
                    <button class="button icon ion-arrow-return-right" ng-click="closeModal()">&nbsp;Return</button>
                </div>
            </ion-footer-bar>
        </ion-modal-view>
    </script>
</ion-view>
