<ion-view title="Enquiry-List">
    <ion-header-bar class="bar-positive" align-title="center">
        <button class="button button-icon icon ion-android-arrow-back" ng-click="returnMain()"></button>
        <div class="h1 title">Enquiry</div>
    </ion-header-bar>
    <ion-pane style="margin-top:44px; height:70px; overflow:visible;">
        <div>
            <div class="row row-center" id="div-list-rcbp">
                <div class="col col-40" style="text-align:center;">
                    <label>Product Code</label>
                </div>
                <div class="col col-60">
                    <ui-select ng-model="Impr1.selected" theme="bootstrap" reset-search-input="true" on-select="ShowImpr1(Impr1.selected.ProductCode)">
                        <ui-select-match allow-clear="true" placeholder="Enter to search..." style="overflow:hidden;">{{$select.selected.ProductCode}}</ui-select-match>
                        <ui-select-choices repeat="Impr1 in Impr1s track by $index" refresh="refreshImpr1($select.search)" refresh-delay="0" position="down">
                            <div ng-bind-html="Impr1.ProductCode | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row row-center" id="div-list-gin">
                <div class="col col-40" style="text-align:center;">
                    <label>Cust Batch No</label>
                </div>
                <div class="col col-60">
                    <ui-select theme="bootstrap" ng-model="Impm1.selected" reset-search-input="true" on-select="ShowImpr1(Impm1.selected)">
                        <ui-select-match allow-clear="true" placeholder="Enter to search..." style="overflow:hidden;">
                            {{$select.selected.UserDefine1}}
                        </ui-select-match>
                        <ui-select-choices repeat="Impm1 in Impm1s track by $index" refresh="refreshImpm1s($select.search)" refresh-delay="0">
                            <div ng-bind-html="Impm1.UserDefine1 | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <hr style="margin-top:-0.3em;">
        </div>
    </ion-pane>
    <ion-content style="margin-top:100px;">

    </ion-content>
</ion-view>
