<ion-view title="GRT-List">
    <ion-header-bar class="bar-positive" align-title="center">
        <button class="button button-icon icon ion-android-arrow-back" ng-click="returnMain()"></button>
        <div class="h1 title">Goods Receipt Tally</div>
    </ion-header-bar>
    <ion-pane style="margin-top:44px; height:70px; overflow:visible;">
        <div>
            <div class="row row-center" id="div-list-rcbp">
                <div class="col col-33" style="text-align:center;">
                    <label>Customer</label>
                </div>
                <div class="col col-67">
                    <ui-select ng-model="Rcbp1.selected" theme="bootstrap" reset-search-input="true" on-select="ShowImgr1(Rcbp1.selected.BusinessPartyCode)">
                        <ui-select-match allow-clear="true" placeholder="Enter to search..." style="overflow:hidden;">{{$select.selected.BusinessPartyName | limitTo:16}}</ui-select-match>
                        <ui-select-choices repeat="Rcbp1 in Rcbp1s track by $index" refresh="refreshRcbp1($select.search)" refresh-delay="0" position="down">
                            <div ng-bind-html="Rcbp1.BusinessPartyName"></div>
                        </ui-select-choices>
                    </ui-select>
                    <!--div id="scrollable-dropdown-menu">
                        <input class="typeahead" type="text" placeholder="Customer Name">
                    </div-->
                </div>
            </div>
            <div class="row row-center" id="div-list-grn">
                <div class="col col-33" style="text-align:center;">
                    <label>GRN No</label>
                </div>
                <div class="col col-67">
                    <ui-select theme="bootstrap" ng-model="GrnNo.selected" reset-search-input="true" on-select="GoToDetail(GrnNo.selected)">
                        <ui-select-match allow-clear="true" placeholder="Enter to search..." style="overflow:hidden;">{{$select.selected.GoodsReceiptNoteNo}}</ui-select-match>
                        <ui-select-choices repeat="GrnNo in GrnNos track by $index" refresh="refreshGrnNos($select.search)" refresh-delay="0" position="down">
                            <div ng-bind="GrnNo.GoodsReceiptNoteNo"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <hr style="margin-top:-0.3em;">
        </div>
    </ion-pane>
    <ion-content style="margin-top:100px;">
        <ion-list id="div-grt-list" tabindex="-1">
            <ion-item ng-repeat="Imgr1 in Imgr1s" id="Imgr1-{{ Imgr1.Index }}" class="item-remove-animate item-icon-right" ng-click="GoToDetail(Imgr1)">
                <!--p style="font-size:0.8em;">Customer&nbsp;&nbsp;:&nbsp;&nbsp;<span ng-bind="Imgr1.CustomerCode" style="font-size:1.2em;"></span></p-->
                <p style="font-size:0.8em;">GRN&nbsp;&nbsp;:&nbsp;&nbsp;<span ng-bind="Imgr1.GoodsReceiptNoteNo" style="font-size:1.3em;"></span></p>
                <p style="font-size:0.8em;">Receipt Date&nbsp;&nbsp;:&nbsp;&nbsp;<span ng-bind="showDate(Imgr1.ReceiptDate)" style="font-size:1.1em;"></span></p>
                <p style="font-size:0.8em;">Ref No&nbsp;&nbsp;:&nbsp;&nbsp;<span ng-bind="Imgr1.RefNo" style="font-size:1.1em;"></span></p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
