<ion-view title="Main">
    <ion-nav-buttons>
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        WMS
    </ion-nav-title>
    <ion-pane>
        <div style="height:43px"></div>
        <div class="box">
            <div class="top">
                <div class="left flex-b" style="background-color: rgba(251,148,11,0.9);">
                    <button class="button button-icon button-large icon ion-home sudoku-btn flex-b-item" ng-click="func_Enquiry()">
                        <p>Enquiry</p>
                        <p>&nbsp;</p>
                    </button>
                </div>
                <div class="right flex-b" style="background-color: rgba(190,119,179,1);">
                    <button class="button button-icon button-large icon ion-calendar sudoku-btn flex-b-item" ng-click="func_GR()">
                        <p>Goods</p>
                        <p>Receipt Tally</p>
                    </button>
                </div>
            </div>
            <div class="middle">
                <div class="left flex-b" style="background-color: rgba(77,204,245,1);">
                    <button class="button button-icon button-large icon ion-android-locate sudoku-btn flex-b-item" ng-click="func_Putaway()">
                        <p>Putaway</p>
                        <p>&nbsp;</p>
                    </button>
                </div>
                <div class="right flex-b" style="background-color: rgba(244,100,109,1);">
                    <button class="button button-icon button-large icon ion-android-document sudoku-btn flex-b-item" ng-click="func_GT()">
                        <p>Goods</p>
                        <p>Transfer</p>
                    </button>
                </div>
            </div>
            <div class="bottom">
                <div class="left flex-b" style="background-color: rgba(88,209,44,1);">
                    <button class="button button-icon button-large icon ion-arrow-graph-up-right sudoku-btn flex-b-item" ng-click="func_Picking()">
                        <p>Picking</p>
                        <p>&nbsp;</p>
                    </button>
                </div>
                <div class="right flex-b" style="background-color: rgba(29,120,252,0.9);">
                    <button class="button button-icon button-large icon ion-settings sudoku-btn flex-b-item" ng-click="func_Vgin()">
                        <p>Verify GIN</p>
                        <p>&nbsp;</p>
                    </button>
                </div>
            </div>
        </div>
    </ion-pane>
</ion-view>
