<ion-view title="Setting">
    <ion-nav-buttons>
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-title align-title="center">
        Setting
    </ion-nav-title>
    <ion-pane>
        <div style="height: 43px;"></div>
        <ion-list>
            <ion-item class="item-divider item-gap">
            </ion-item>
            <ion-item>
                Current Version
                <span class="item-note" ng-bind="Setting.Version"></span>
            </ion-item>
        </ion-list>
        <div class="list list-inset">
            <label class="item item-input item-stacked-label">
                <span class="input-label">API URL</span>
                <input type="text" placeholder="www.sysfreight.com/WebApi" ng-model="Setting.WebApiURL">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Web Site URL</span>
                <input type="text" placeholder="www.sysfreight.net/mobileapp-wh-cbg" ng-model="Setting.WebSiteUrl">
            </label>
            <ion-toggle ng-model="Setting.SSL.checked" ng-if="Setting.blnWeb">
               SSL Encryption
           </ion-toggle>
        </div>
    </ion-pane>
    <ion-footer-bar class="bar-positive hide-on-keyboard-open">
        <div class="row" style="padding: 0px;">
            <button class="col button" ng-click="save()">
                <i class="icon ion-android-done"></i>&nbsp;&nbsp;Save
            </button>
            <button class="col button" ng-click="reset()">
                <i class="icon ion-android-delete"></i>&nbsp;&nbsp;Reset
            </button>
            <button class="col button" ng-click="return()">
                <i class="icon ion-arrow-return-right"></i>&nbsp;&nbsp;Cancel
            </button>
        </div>
    </ion-footer-bar>
</ion-view>
